* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /* google fonts ki css*/
    font-family: 'Stint Ultra Condensed', cursive;
}

.header {
    height: 80px;
    background-color: #34495e;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tickets-filter {
    height: 60%;
    width: 30%;
    background-color: #b2bec3;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.filter {
    height: 40%;
    width: 8%;
    border-radius: 5px;
    opacity: 0.7;
    /* transition: transform 0.5s; */
    /* animation effect: jab bhi filter class mein scale (transform) hone mein 0.5sec lega */
}


/* jab filter class par mouse jayega yani filter class par hover hoga */

.filter:hover {
    /* pseudoclass */
    opacity: 1;
    /* transform: scale(1.2); */
    /* filter ka size pehle vaale size ka 1.2 ho jayega (bad jayega) */
}

.red {
    background-color: red;
}

.blue {
    background-color: #1e90ff;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.black {
    background-color: black;
}

.ticket-actions {
    height: 60%;
    width: 8%;
    display: flex;
    /*     justify-content: space-evenly;
    align-items: center; */
    /* agar ham open maodal's ko height full & width 50% dedete hai to yha tickets-filter par justify-content & align-items ka koi matlab nhi reh gya*/
    background-color: #b2bec3;
    border-radius: 10px;
}


/* 
.open-modal{

}

.close-modal{

} */


/* open-modal and close-modal par same styling hogi to ham aise likh saktye hai */

.ticket-actions div {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.ticket-actions div:hover {
    background: #747d8c;
}

.ticket-actions i {
    font-size: 20px;
    color: darkslategray;
}

.tickets-container {
    height: calc( 100vh - 80px);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
    grid-gap: 30px;
    /* align-items: center; */
}

.ticket-modal {
    position: absolute;
    top: 35%;
    height: 300px;
    width: 400px;
    /* border: 1px solid coral; */
    display: flex;
    left: calc(50vw - 200px);
}

.ticket-text {
    height: 100%;
    width: 70%;
    background: #b2bec3;
    outline: none;
    padding: 15px;
    font-size: 25px;
    overflow: auto;
}

.ticket-filters {
    height: 100%;
    width: 30%;
    background-color: #34495e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.ticket-filter {
    height: 10%;
    width: 70%;
    opacity: 0.5;
}

.ticket-filter:hover {
    opacity: 1;
}

.selected-filter {
    border: 3px solid white;
    opacity: 1;
}

.ticket {
    /* background: bisque; */
    height: 150px;
    width: 250px;
    border: 1px solid brown;
}

.ticket-header {
    height: 10%;
    /* initially header par koi styling nhi honi chahiye */
    /* background: darkgoldenrod; */
    /* border-bottom: 2px solid lightslategrey; */
}

.ticket-content {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.ticket-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* height: 20%; */
}

.ticket-info div{}

.ticket-value {
    /* background: chartreuse; */
    width: 100%;
    height: 80%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}