.personal-container,.qual-container{
    height: calc(100vh - 52px);
    display: flex;
    /* border: 1px solid red; */
}

.personal-form,.qual-form{
    /* border: 1px solid; */
    width: 50%;  
    /* nhi de sakte kuki hame preview ko alag rakhna hai */
    /* flex-grow: 1; */
}

.qual-gen{
    position: fixed;
    bottom: 12rem;
    right: 40px;
}

.qual-save{
    position: fixed;
    bottom: 8rem;
    right: 40px;
}