.product-card{
    height: 20rem;
    width: 15rem;
    box-shadow: 5px 5px 2px 1px #126ba7;
}

.product-img{
    height: 80%;
}

.product-img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.product-btn{
    height: 20%;
    display:  flex;
    justify-content: center;
    align-items: center;
}

.product-btn button{
    border: none;
    outline: none;
    color: white;
    background: #ffc312;
    border-radius: 8px;
    padding: 4px 8px; /* 4px for top& bottom and 8px for left&right*/
}

/* .product-card,.product-img,.product-btn{
    border: 1px solid;
} */

/* .product-card{
    border: 1px solid;
} */