* {
    /*Universal Selector => applied to all elements*/
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /*sabhi elements ki koi bhi margin , padding nhi hogi aate hi*/
}

body {
    background-color: aqua;
}

.todo-input-container {
    height: 100px;
    /* background: black; */
    padding: 20px;
}

.todo-input {
    height: 70%;
    /* apne parent yaani div ki height ki 70% height ye input lelega*/
    width: 80%;
    /* apne parent yaani div ki width ki 80% width ye input lelega*/
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    display: block;
    margin: auto;
    /*apne parent yaani div ke centre mein hai ye*/
    margin-bottom: 20px;
}

.add-todo {
    display: block;
    margin: auto;
    height: 75%;
    width: 15%;
    font-weight: bold;
    border-radius: 10px;
    border: 5px solid white;
    background-color: #8e44ad;
    color: white;
    font-size: 20px;
}

.todos-list-container {
    padding: 10px;
}

.todo-item {
    /**/
    width: 60%;
    /*first width ko 50% karo than only margin auto can be happened*/
    margin: auto;
    background-color: khaki;
    margin-top: 40px;
    border-radius: 22px;
    padding: 10px;
    text-align: center;
    /*agar text ko center mein lana ho tab*/
}

.todo {
    /*p tag*/
    color: firebrick;
    /* p tag ke text ka color*/
    font-size: 20px;
}

.delete-todo {
    /*for delete button*/
    background: lightseagreen;
    color: white;
    width: 70px;
    height: 25px;
    border: none;
}